<div class="content-wrapper">
    <div class="col-md-12">
        <div class="card-header">
            <h3 class="card-title">Crear Categoria</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre de la categoria</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresar Nombre de Categoría">
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-danger">Registrar</button>
            </div>
        </div>
    </div>
    
</div>