.content-wrapper {
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    margin-left: 230px!important;
    margin-top: 70px !important;
    z-index: 820!important;
    height: 90%!important;
    min-height: unset!important;
}

.m-portlet {
    -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    background-color: #fff;
}
.m-portlet .m-portlet__head {
    border-bottom: 1px solid #ebedf2;
}
.m-portlet .m-portlet__head .m-portlet__head-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.m-portlet .m-portlet__body {
    color: #575962;
}
.m-portlet .m-portlet__body {
    padding: 2.2rem 2.2rem;
}
.m--margin-bottom-30 {
    margin-bottom: 30px !important;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
@media (min-width: 1200px){
    .order-xl-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}
.form-group {
    margin-bottom: 1rem;
}

.m--align-right {
    text-align: right;
}
.m-input-icon {
    position: relative;
    padding: 0;
    width: 100%;
}
.m-input-icon.m-input-icon--left .form-control {
    padding-left: 2.8rem;
}
.form-control.m-input--solid {
    background-color: #f4f5f8;
    border-color: #f4f5f8;
    color: #575962;
}
.m-input-icon>.m-input-icon__icon.m-input-icon__icon--left {
    left: 0;
}
.m-input-icon>.m-input-icon__icon {
    position: absolute;
    height: 100%;
    display: inline-block;
    text-align: center;
    top: 0;
    width: 3.2rem;
}
@media (min-width: 1200px)
{
    .col-xl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%; 
        max-width: 33.33333%;
    }
}

@media (min-width: 1200px){
    .order-xl-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-xl-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xl-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 1200px)
{
    .order-xl-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}

@media (min-width: 1200px)
{
    .col-xl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}
