<div class="content-wrapper">
    <div class="col-md-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="card-title">Crear Categoria</h3>
                    </div>
                </div>
                
            </div>
            <div class="m-portlet__body">
                <div class="m-form--label-align-right m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row">
                                <div class="form-group m-form__group col-xl-4">
                                    <label> </label>
                                    <div class="m-input m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search" autocomplete="off">
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                <span><i class="fa fa-search"></i></span>
                                            </span>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                            <button class="btn btn-primary m-btn m-btn--icon btn-add" data-toggle="modal" data-target="#service_term_modal_add" autocomplete="off">
                                <span>
                                    <i class="fa fa-plus"></i>
                                    <span> Registrar Categoría</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre de la categoria</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresar Nombre de Categoría">
                </div>
    
                <div class="card-footer">
                    <button type="submit" class="btn btn-danger">Registrar</button>
                </div>
            </div>
        </div>
        
        
    </div>
    
</div>