<div class="body2">
    <div class="top-content">
        <div class="inner-bg">
            <div class="">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Crea una cuenta en nuestro sitio</h3>
                            <p>Ingrese sus datos:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        
                        <form [formGroup]="userForm" class="login-form" (ngSubmit)="registerUser(userForm.value)">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Nombre</label>
                                <input type="text" formControlName="name" placeholder="Nombre..." class="form-username form-control"
                                [ngClass]="{ 'is-invalid': submitted && userForm.controls['name'].errors}">
                                <div *ngIf="submitted && userForm.controls['name'].errors?.required" class="help-block" style="color: red">
                                    Este campo es obligatorio
                                </div>
                                <div *ngIf="submitted && userForm.controls['name'].hasError('isvalid')" class="help-block" style="color: red">
                                    Este campo solo acepta letras y un máximo de 55 caracteres
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Apellido</label>
                                <input type="text" formControlName="lastName" placeholder="Apellido..." class="form-username form-control" >
                                <div *ngIf="submitted && userForm.controls['lastName'].errors?.required" class="help-block" style="color: red">
                                    Este campo es obligatorio
                                </div>
                                <div *ngIf="submitted && userForm.controls['lastName'].hasError('isvalid')" class="help-block" style="color: red">
                                    Este campo solo acepta letras y un máximo de 55 caracteres
                                </div>
                            </div>
                            <div class="form-group"> 
                                <label  class="sr-only" for="form-username">Distrito</label>
                                <select formControlName="districtId" class="form-username form-control" style="height: 50px;">
                                    <option  value="null" disabled="true" [selected]="true">Seleccionar distrito...</option>
                                    <option *ngFor="let district of model.lisDistrict" [value]="district.id">{{district.name}}</option>
                                </select>
                                <div *ngIf="submitted && userForm.controls['districtId'].errors?.required" class="help-block" style="color: red">
                                        Este campo es obligatorio
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Correo</label>
                                <input type="text" formControlName="email" placeholder="Correo..." class="form-username form-control">
                                <div *ngIf="submitted && userForm.controls['email'].errors?.required" class="help-block" style="color: red">
                                    Este campo es obligatorio
                                </div>
                                <div *ngIf="submitted && userForm.controls['email'].errors?.email" class="help-block" style="color: red">
                                    Formato no válido para un campo de email
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Confirmar Correo</label>
                                <input type="text" formControlName="emailConfirm" placeholder="Confirmar Correo..." class="form-username form-control">
                                <div *ngIf="submitted && userForm.controls['emailConfirm'].errors?.required" class="help-block" style="color: red">
                                    Este campo es obligatorio
                                </div>
                                <div *ngIf="submitted && userForm.controls['emailConfirm'].errors?.emailConfirm" class="help-block" style="color: red">
                                    Formato no válido para un campo de email
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Celular</label>
                                <input type="text" formControlName="phone" name="phone" placeholder="Celular..." class="form-username form-control" >
                                <div *ngIf="submitted && userForm.controls['phone'].errors?.required" class="help-block" style="color: red">
                                    Este campo es obligatorio
                                </div>
                                <div *ngIf="submitted && userForm.controls['phone'].errors?.minlength" class="help-block" style="color: red">
                                    Este campo debe contener mínimo 7 caracteres
                                </div>
                                <div *ngIf="submitted && userForm.controls['phone'].errors?.maxlength" class="help-block" style="color: red">
                                    Este campo debe contener máximo 9 caracteres
                                </div>
                                <div *ngIf="submitted && userForm.controls['phone'].errors?.pattern" class="help-block" style="color: red">
                                    Este campo no permite letras
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Contraseña</label>
                                <input type="password" formControlName="password" placeholder="Contraseña..." class="form-password form-control" id="form-password">
                                <div *ngIf="submitted && userForm.controls['password'].errors?.required" class="help-block" style="color: red">
                                    Este campo es obligatorio
                                </div>
                                <div *ngIf="submitted && userForm.controls['password'].errors?.minlength" class="help-block" style="color: red">
                                    Este campo requiere mínimo 6 caracteres
                                </div>
                                <div *ngIf="submitted && userForm.controls['password'].hasError('hasCapitalCase')" class="help-block" style="color: red">
                                    Este campo requiere almenos un caracter en mayúscula
                                </div>
                                <div *ngIf="submitted && userForm.controls['password'].hasError('hasSmallCase')" class="help-block" style="color: red">
                                    Este campo requiere almenos un caracter en minúscula
                                </div>
                                <div *ngIf="submitted && userForm.controls['password'].hasError('hasSpecialCharacters')" class="help-block" style="color: red">
                                    Este campo requiere almenos un caracter no alfanumérico
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Confirmar contraseña</label>
                                <input type="password" formControlName="passwordConfirm" placeholder="Confirmar contraseña..." class="form-password form-control" autocomplete="off">
                                <div *ngIf="submitted && userForm.controls['passwordConfirm'].errors?.required" class="help-block" style="color: red">
                                    Este campo es obligatorio
                                </div>
                                <div *ngIf="submitted && userForm.controls['passwordConfirm'].hasError('NoPassswordMatch')" class="help-block" style="color: red">
                                    Contraseña no coincide
                                </div>
                            </div>
                            <div class="form-group">

                                <div style="display: inline-block;">
                                    <label style="color: white">¿Desea Publicar Eventos?</label>
                                </div>
                                <div id="div-switch">
                                </div>
                                <label style="color: white; margin-right: 10px;">No</label>
                                <div id="div-switch">
                                        
                                    <label class="switch">
                                        <input formControlName="userType" name="userType" id="chk1" type="checkbox" data-toggle="toggle" on="on" off="off">
                                        <span class="slider round"></span>
                                    </label>
                                    
                                </div>
                                <label style="color: white; margin-left: 10px;">Sí</label>
                            </div>
                            <button type="submit" class="btn">Ingresar!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
