<div class="top-content">
    <div class="inner-bg">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Crea una cuenta en nuestro sitio</h3>
                        <p>Ingrese sus datos:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form role="form" action="" method="post" class="login-form">
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Nombre</label>
                            <input type="text" name="form-username" placeholder="Nombre..." class="form-username form-control" id="form-username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Apellido</label>
                            <input type="text" name="form-username" placeholder="Apellido..." class="form-username form-control" id="form-username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Correo</label>
                            <input type="text" name="form-username" placeholder="Correo..." class="form-username form-control" id="form-username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Conmfirmar Correo</label>
                            <input type="text" name="form-username" placeholder="Conmfirmar Correo..." class="form-username form-control" id="form-username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-username">Celular</label>
                            <input type="text" name="form-username" placeholder="Celular..." class="form-username form-control" id="form-username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-password">Contraseña</label>
                            <input type="password" name="form-password" placeholder="Contraseña..." class="form-password form-control" id="form-password">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="form-password">Confirmar contraseña</label>
                            <input type="password" name="form-password" placeholder="Confirmar contraseña..." class="form-password form-control" id="form-password">
                        </div>
                        <button type="submit" class="btn">Ingresar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
