<div class="content-wrapper">
    <div class="col-md-12">
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">Administrar Eventos</h3>
                    </div>
                </div>
                
            </div>
            <div class="m-portlet__body">
                <!-- <div class="m-form--label-align-right m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row">
                                <div class="form-group m-form__group col-xl-4">
                                    <label> </label>
                                    <div class="m-input m-input-icon m-input-icon--left">
                                        <input type="text" (keyup)="findBank()" name="searchBank" [(ngModel)]="model.searchBank" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search" autocomplete="off">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span><i class="fa fa-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div *ngIf="loading" >
                        <img src="../../../../../assets/css/carga.gif" class="center" style="width: 50px; height: 50px;">
                    </div>
                </div>
                <div id="tbl-data_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <table class="table table-striped table-bordered dataTable no-footer dtr-inline" id="tbl-data" aria-describedby="tbl-data_info"
                        role="grid" style="width: 974px;"> 
                        <thead>
                            <tr role="row">
                                <th class="text-center sorting_asc">Nombre de Evento</th>
                                <th class="text-center sorting_asc">Vista Banner</th>
                                <th class="text-center sorting_asc">Vista Principal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd" *ngFor="let items of model.listEvent">
                                <td class="sorting_1 text-center">{{items.name}}</td>
                                <td class="text-center">
                                    <input type="checkbox" name="acceptTerms" [(ngModel)]="items.inBannerPost" (change)= "validateCheked(items.id, items.inBannerPost, items.inMainView)"  value="">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" [(ngModel)]="items.inMainView" (change)= "validateCheked(items.id, items.inBannerPost, items.inMainView)" name="acceptTerms"  value="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <p-paginator [rows]="pageSize" [totalRecords]="lastPage" (onPageChange)="paginate($event)" *ngIf="model.listBank.length > 0"></p-paginator> -->
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>