
<header class="menubar navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle toggle-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>	
		<div class="collapse navbar-collapse navbar-ex1-collapse" id="example-1"> 
			<div class="col-md-4 col-sm-4 col-xs-12" (click)="home()"> 
				<!-- <a class="navbar-brand" rel="home" routerLink="/event/events" style="padding-right: 100px"></a> -->
				<img src="../../../../../assets/images/LOGO-MI-ASIENTO.png" class="center" style="display: block; max-width: 100%; height: auto;">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12 custom-search-form">
				<div class="input-group">
					<input type="text" class="form-control ac_input" placeholder="Buscar... " id="search" name="srch-term" (click)="activateSearch()">
					<div class="input-group-btn">
						<button class="btn btn-default" (click)="activateSearch()"  type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<ul class="nav navbar-nav navbar-right">			
					<li *ngFor="let menuItem of model.menu.login.items" [routerLinkActive]="['active']">
						<a *ngIf="usuario == null" routerLink="{{menuItem.url}}">{{menuItem.name}}</a></li>
					<li *ngFor="let menuItem of model.menu.register.items" [routerLinkActive]="['active']">
						<a *ngIf="usuario == null" routerLink="{{menuItem.url}}">{{menuItem.name}}</a></li>
					<li *ngFor="let menuItem of model.menu.create.items" [routerLinkActive]="['active']">
						<a *ngIf="usuario != null && roleClient" routerLink="{{menuItem.url}}">{{menuItem.name}}</a></li>
					<li  class="dropdown" *ngIf="usuario != null">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{usuario}}
							<i class="glyphicon glyphicon-user"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu"  role="menu" >
							<li (click)="logout()">
								<a href="/">
									<i class="fa fa-fw fa-power-off"></i> Cerrar sesion</a>
									<!-- <i class="fa fa-sign-out"></i> Cerrar sesion</a> -->
							</li>
							
						</ul>
					</li>
				</ul>
			</div>
	
		</div>
	</div>
	<div id="app-search" *ngIf="this.modalSearch" class="open" >
		<div class="container contentido">
			<button type="button" (click)="desactivateSearch()" class="close"><small>CERRAR</small> <span>×</span></button>
			<div class="filters">
				<div class="tittle">
					<h2 class="find">Buscar Eventos</h2>
					<p>¿Qué evento estás buscando?</p>
				</div>
				<div class="content-filters">
					<div class="filter"> 
						<div class="filter__name">
							<span>Categoría</span>
						</div>
						<div class="filter__content">
							<div class="filter__content__heading">
								<button type="button" class="close">
									×
								  </button>
								  <p>Filtra los eventos por tipo</p>
							</div>
						</div>
					</div>
					<div class="filter"> 
						<div class="filter__name">
							<span>Fecha Evento</span>
						</div>
						<div class="filter__content">
							<div class="filter__content__heading">
								<button type="button" class="close">
									×
								  </button> 
								  <p>Filtra las fechas que quieres visualizar en tu búsqueda.</p>
							</div>
							<div class="filter__content__body">
								<p>Ingresa el rango de fecha que quieres visualizar</p>
								<div class="content-calendar">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="input-search">
				<span class="input-search__search">
					<i class="fa fa-search"></i>
				</span>
				<input type="search" (keyup)="findEvent()" [(ngModel)]="keyword">
			</div>
			<div class="new_arrivals_agile_w3ls_info">
				<div class="container">
					<div class="resp-tabs-container">
						<div class="tab1">
							<div class="col-md-12">
								<div *ngIf="loading" >
									<img src="../../../../../assets/css/carga.gif" class="center" style="width: 50px; height: 50px;">
								</div>
							</div>
							<div class="col-md-4 product-men" *ngFor="let items of model.listEvent" style="margin-top: 15px;">
								<div class="men-pro-item simpleCart_shelfItem">
									
									<div class="men-thumb-item" (click)="passDetailsView(items.id)">
										<img  src="{{items.image}}" class="pro-image-front" style="width: 350px;
										height: 200px;
										max-width: 100%;
										max-height: 100%;">
										<img  src="{{items.image}}" class="pro-image-back" style="width: 350px;
										height: 200px;
										max-width: 100%;
										max-height: 100%;">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a class="link-product-add-cart">{{items.name}}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-md-12">
							
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</header>

<router-outlet #o="outlet"></router-outlet>
