.menubar .custom-search-form {
    padding: 10px 0;
}
#search {
    padding: 4px 7px;
    vertical-align: middle;
}
.menubar {
    vertical-align: middle;
    z-index: 123456;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    /* border: 1px solid transparent; */
    border-block-end: 1px solid transparent;
}
/* .navbar-default .navbar-nav > li > a {
    color: #777; 
    color: #fff !important;
} */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.contenido {
    width: 100% !important;
    margin: 0 auto !important;
    position: relative !important;
    padding: 14px !important;
}
#app-search.open {
    opacity: 1 !important;
}
#app-search {
    overflow: auto !important;
    font-family: Open Sans,sans-serif !important;
    position: fixed !important;
    left: 0 !important;
    right: 0!important;
    top: 0 !important;
    bottom: 0!important ;
    z-index: 9999 !important;
    background: #fff !important;
    font-family: open_sansregular !important;
}
#app-search .close {
    position: absolute !important;
    top: 0 !important;
    right: 14px !important;
    font-size: 30px !important;
    opacity: .6 !important;
    border: none !important;
    font-weight: 300 !important;
    padding: 0 !important;
    line-height: 40px !important;
    cursor: pointer !important;
    outline: none !important;
    background: none !important;
}
/* .logo{
    padding: 15px 15px 15px 0;
} */
#app-search .filters {
    margin-top: 40px !important;
}

#app-search .filters .content-filters {
    width: 100%;
    margin-top: 25px;
}

#app-search .filters .content-filters .filter {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    margin-right: 10px;
    position: relative;
    padding-bottom: 10px;
}
#app-search .filters .content-filters .filter__name {
    cursor: pointer;
    padding: 10px 14px;
    border: 1px solid #b1aeae;
    border-radius: 5px;
}

#app-search .filters .content-filters .filter__content {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px!important;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
@media only screen and (min-width: 1200px)
{
    #app-search .filters .content-filters .filter__content {
        position: absolute;
        right: 0;
        width: 450px;
        left: inherit;
        top: 52px;
        border: 1px solid #b1aeae;
        border-radius: 2px;
        height: auto;
        overflow: visible;
        box-shadow: 1px 1px 21px -2px rgba(0,0,0,.38);
    }
}

#app-search .filters .content-filters .filter__content__heading {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
}
#app-search .filters .content-filters .filter__content__body {
    margin: 30px 0;
    width: 100%;
}
#app-search .filters .content-filters .content-calendar {
    height: 60px;
}
#app-search .input-search {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}
#app-search .input-search span {
    font-size: 35px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    opacity: .4;
}
#app-search input[type=search] {
    width: 100%;
    border: 0;
    height: 54px;
    outline: none;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    padding-left: 50px;
}
#app-search .filters .content-filters .filter:hover .filter__content.open {
    visibility: visible;
    opacity: 1;
}
.find {
    font-size: 38px !important;
    color: #c10213 !important;
    font-weight: 700 !important;
    margin-bottom: 10px !important;
}
@media only screen and (min-width: 1200px){
    .contentido {
        width: 1170px;
    }
}

.men-pro-item {
    position: relative;
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    /* padding-bottom: 20px; */
}
.men-thumb-item {
    position: relative;
}
.item-info-product {
    text-align: center;
    margin: 20px 0 0;
}
.men-thumb-item::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    z-index: 9;
    visibility: hidden;
    transition: all 0.5s ease-out 0s;
}
.men-thumb-item .pro-image-front {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}

.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}
.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    /* overflow: hidden; */
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
    z-index: 10;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
    /* padding: 52px 50px 20px; */
}

.inner-men-cart-pro ul li a:hover {
    background: #ffc229 none repeat scroll 0 0;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}
.link-product-add-cart:hover {
    background: #2fdab8 none repeat scroll 0 0;
    color: #fff;
}

.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro ul {
    left: 0;
    margin: -60px 0 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    bottom: -40px;
    left: 0;
    position: absolute;
	transition: all 0.5s ease-out 0s;
	/* background: rgba(0,0,0,.9);
    bottom: -100px;
    color: #fff;
    padding: 8px 9px;
    position: absolute;
    width: 100%;
    z-index: 1234;
    -webkit-transition: all .2s;
    transition: all .4s; */
}
.link-product-add-cart {
    background:#000 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 40px;
    /* line-height: 40px; */
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro > ul > li {
    display: inline-block;
}
.inner-men-cart-pro ul li a {
    color: #fff;
    transition: all 0.5s ease-out 0s;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
}

.men-thumb-item:hover {
    cursor: pointer;
}
.men-thumb-item:hover::before {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item:hover .pro-image-front {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
}
.men-thumb-item:hover .pro-image-back {
    transform: rotateY(0deg);
    opacity: 1;
    visibility: visible;
    background: #f7f7f7;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
    /* padding: 52px 50px 20px; */
}
.men-thumb-item:hover .men-cart-pro {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item:hover .inner-men-cart-pro ul {
    margin: 20px 0 0;
}
.inner-men-cart-pro ul li a:hover {
    background: #ffc229 none repeat scroll 0 0;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}
.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 83.5%;
}
.pro-image-back {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}