.menubar .custom-search-form {
    padding: 10px 0;
}
#search {
    padding: 4px 7px;
    vertical-align: middle;
}
.menubar {
    vertical-align: middle;
    z-index: 123456;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-default .navbar-nav > li > a {
    /* color: #777; */
    color: #fff !important;
}
#app-search .container {
    width: 100% !important;
    margin: 0 auto !important;
    position: relative !important;
    padding: 14px !important;
}
#app-search.open {
    opacity: 1 !important;
}
#app-search {
    overflow: auto !important;
    font-family: Open Sans,sans-serif !important;
    position: fixed !important;
    left: 0 !important;
    right: 0!important;
    top: 0 !important;
    bottom: 0!important ;
    z-index: 9999 !important;
    background: #fff !important;
    font-family: open_sansregular !important;
}
#app-search .close {
    position: absolute !important;
    top: 0 !important;
    right: 14px !important;
    font-size: 30px !important;
    opacity: .6 !important;
    border: none !important;
    font-weight: 300 !important;
    padding: 0 !important;
    line-height: 40px !important;
    cursor: pointer !important;
    outline: none !important;
    background: none !important;
}
/* .logo{
    padding: 15px 15px 15px 0;
} */
#app-search .filters {
    margin-top: 40px !important;
}

#app-search .filters .content-filters {
    width: 100% !important;
    margin-top: 25px !important;
}

#app-search .filters .content-filters .filter {
    display: inline-block !important;
    text-align: left !important;
    font-size: 14px !important;
    margin-right: 10px !important;
    position: relative !important;
    padding-bottom: 10px !important;
}
#app-search .filters .content-filters .filter__name {
    cursor: pointer !important;
    padding: 10px 14px !important;
    border: 1px solid #b1aeae !important;
    border-radius: 5px !important;
}
.filter__name {
    cursor: pointer !important;
    padding: 10px 14px !important;
    border: 1px solid #b1aeae !important;
    border-radius: 5px !important;
}
#app-search .filters .content-filters .filter__content {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px!important;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
