

<div class="container banner">
    <div class="col-sm-12 text-center">
            <form role="form" action="" method="post" class="f1">
                <!--PASOS-->
                <div class="f1-steps">
                    <div class="f1-progress">
                        <div class="" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                    </div>
                </div>
            </form>
        </div>
    <div class="col-md-12">
        <div class="row">
            <div class="box-shadow bg-gray-5 rnd">
                <div class="box-title-event">
                    <div class="box-number bg-primary rnd-l unrnd-b" style="position:absolute;">1</div>
                    <div class="box-number-det bg-primary rnd-l unrnd-b" style="position:absolute">Detalles del Evento</div>
                </div>
                <div class="box-content boxStep">
                    <div class="row pad-t ticketRow" style="margin-left:0px;margin-right:0px;">
                        
                        <div class="col-xs-6 col-sm-6">
                            <div class="form-element form-element-small-errors unpad-b">
                                <label for="businessName"><span>Nombre del Evento*</span></label>
                                <input type="text" name=" title" class="form-control" id="businessName" value="">
                            </div>
                            <div class="form-element-information">
                                <div class="form-element pad-t">
                                    <label>
                                        <span> Descripción del Evento *</span>
                                        <textarea name="information" class="form-control" rows="5"  maxlength="65535" placeholder="Escribe un párrafo corto pero potente que describa tu evento (Punchline)"></textarea>
                                    </label>
                                </div>
                            </div>
                            
                            <div  style="max-width:352px;">
                                <div class="form-element">
                                    <label>Image * (700 x 438px)</label>
                                    <div id="imageUrl" class="image-picker" style="height: 218px;">
                                        <div class="overlay"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-element form-element-small-errors unpad-b">
                                <label for="currencyBank">
                                    Elige una Categoria
                                </label>
                                <select name="currencyBank" data-city-currency="1" class="form-control input-sm">
                                    <option value="">Elige una categoría</option>
                                    <option value="art-culture">Arte y cultura</option>
                                    <option value="community-service">Ayuda social</option>
                                    <option value="food-drinks">Comidas y bebidas</option>
                                    <option value="concerts">Conciertos</option>
                                    <option value="cursos-talleres">Cursos y talleres</option>
                                    <option value="sports">Deportes</option>
                                    <option value="entertainment">Entretenimiento</option>
                                </select>
                            </div>
                            <div class="form-element-information">
                                <div class="form-element pad-t">
                                    <label>
                                    <span>Información adicional</span>
                                    </label>
                                    <textarea class="form-control" rows="5" maxlength="65535" name="information" placeholder="Dale a los usuarios más información: detalles del evento, panelistas, links relacionados, cronograma del evento, etc.">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-element form-element-small-errors unpad-b">
                                
                                <div class="col-md-6">
                                    <label>
                                        <span>Fecha de inicio del evento</span>
                                    </label>
                                    <div class="input-group form-group">
                                        <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="dateValue1" [locale]="en" [showIcon]="true"></p-calendar> 
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <label>
                                        <span>Hora del evento</span>
                                    </label>
                                    <div class="input-group form-group">
                                        <p-calendar [showIcon]="true" [timeOnly]="true" [defaultDate]="yourTimeValueHere"  icon="fa fa-clock-o"></p-calendar>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="form-element form-element-small-errors unpad-b">
                                <div class="col-md-6">
                                    <label>
                                        <span>Fecha fin del evento</span>
                                    </label>
                                    <div class="input-group form-group">
                                        <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="dateValue2" [locale]="en" [showIcon]="true"></p-calendar> 
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <label>
                                        <span>Hora del evento</span>
                                    </label>
                                    <div class="input-group form-group">
                                        <p-calendar [showIcon]="true" [timeOnly]="true" [defaultDate]="yourTimeValueHere"  icon="fa fa-clock-o"></p-calendar>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-5">
                                <div class="form-element unpad-b"><fieldset><legend>Visibilidad *</legend><label><input type="radio" name="isPublic" onclick="$('.form-element-anyoneinvite').css('display', ($(this).val() == '0') ? 'block' : 'none');" value="1">Público (Se publicará este evento en Joinnus)</label><label><input type="radio" name="isPublic" onclick="$('.form-element-anyoneinvite').css('display', ($(this).val() == '0') ? 'block' : 'none');" value="0">Privado (No se mostrará este evento públicamente)</label></fieldset></div>
                                <div class="form-element-anyoneinvite" style="display:none;">
                                                <div class="form-element for-checkbox"><label><span>La gente que invites también podrá invitar a sus amigos.</span><input type="hidden" name="anyoneCanInvite" value="0"><input type="checkbox" name="anyoneCanInvite" value="1" checked="checked"></label></div>
                                </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-element"><fieldset><legend>Restricción *</legend><label><input type="radio" name="restriction" value="1">Apto para público en general.</label><label><input type="radio" name="restriction" value="2">Apto para menores de 18 años en compañía de un adulto.</label><label><input type="radio" name="restriction" value="3">Apto solo para mayores de 18 años.</label></fieldset></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box-shadow bg-gray-5 rnd">
                <div class="box-title-event">
                    <div class="box-number bg-primary rnd-l unrnd-b" style="position:absolute">2</div>
                    <div class="box-number-det bg-primary rnd-l unrnd-b" style="position:absolute">Ubicación</div>
                </div>
                <div class="box-content boxStep">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-element">
                                <label>
                                    <span>Ciudad *</span>
                                    <select name="city" class="form-control">
                                        <option value="lima" selected="selected">Lima</option>
                                        <option value="arequipa">Arequipa</option>
                                        <option value="moquegua">Moquegua</option>
                                        <option value="huancayo">Huancayo</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-element unpad-b">
                                <label>
                                    <span>Dirección *</span>
                                    <input type="text" name="address" class="form-control" placeholder="Escribe la dirección donde será el evento.">
                                </label>
                            </div>
                            <div class="form-element"><label><span>Referencia</span><input class="form-control" maxlength="250" name="addressRef" placeholder="Ej. A 3 cuadras de la librería pública" type="text" value=""></label></div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box-shadow bg-gray-5 rnd">
                <div class="box-title-event">
                    <div class="box-number bg-primary rnd-l unrnd-b" style="position:absolute">3</div>
                    <div class="box-number-det bg-primary rnd-l unrnd-b" style="position:absolute">Crear Entradas</div>
                </div>
                <div class="box-content boxStep">
                    <div class="row pad-b">
                        <div class="col-xs-8 col-sm-4">
                            <div class="form-element form-element-small-errors unpad-b no-label">
                                <select name="currency" data-city-currency="1" class="form-control input-sm">
                                    <option value="PEN">Soles</option>
                                    <option value="USD">Dólares</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-sm-push-4 text-right">
                            <button data-toggle="tooltip" id="addMoreTickets" title="Agrega más entradas, si tienes más de un precio, público o ubicación." 
                            type="button" class="btn btn-gray btn-sm btn-block has-tooltip">
                                <span class="glyphicon glyphicon-plus"></span> 
                                Agregar entrada
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" id="ticketRowsContainer">
                            <input type="hidden" class="valChange" value="0">
                            <div class="row bor bor-gray-15 pad-t ticketRow" style="margin-left:0px;margin-right:0px;">
                                <div class="col-xs-12 col-sm-5">
                                    <div class="form-element form-element-small-errors unpad-b">
                                    <label>
                                        <label for="businessName">Tipo Entrada *</label>
                                        <input type="text" name="businessName" class="form-control" id="businessName" value="">
                                    </label>
                                    </div>
                                    <input type="hidden" name="ticketTypes[0][ticketTypeId]" value="">
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-element form-element-small-errors unpad-b">
                                        <label>
                                            <span>Cantidad Disponible</span>
                                            <input class="form-control text-center has-tooltip quantity-max" maxlength="5" placeholder="0" title="Número total de entradas para este tipo de entrada." data-toggle="tooltip" data-placement="left" name="ticketTypes[0][quantityMax]" type="text" value="0">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3 txtprice">
                                    <div class="form-element form-element-small-errors unpad-b">
                                        <label>
                                            <span>Precio</span>
                                            <input class="form-control text-right input-price" maxlength="7" placeholder="0.00" name="ticketTypes[0][price]" type="text" value="0.00">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-1 text-right unpad-l pad-b"><br><button type="button" class="btn btn-gainsboro btn-block unpad-l unpad-r" ><span class="caret"></span></button></div>
                                <div class="col-xs-12 moreinfo pad-t bg-gray-10 pad-b" style="display:none;">
                                    <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-element form-element-small-errors unpad-b">
                                            <label>
                                                <span>Min cantidad por orden</span>
                                                <select name="ticketTypes[0][minQuantityPerOrder]" class="form-control input-sm has-tooltip" title="Con esta opción podrás generar ofertas por la compra mínima de un número determinado de entradas." data-toggle="tooltip">
                                                    <option value="1" selected="selected">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 selectMaxOrden">
                                        <div class="form-element form-element-small-errors unpad-b">
                                            <label>
                                                <span>Max cantidad por orden</span>
                                                <select name="ticketTypes[0][maxQuantityPerOrder]" class="form-control input-sm has-tooltip" title="Cada usuario puede comprar máximo esta cantidad de entradas" data-toggle="tooltip">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10" selected="selected">10</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 selectMaxUser">
                                        <div class="form-element form-element-small-errors unpad-b">
                                            <label><span>Max cant. por usuario</span>
                                                <select name="ticketTypes[0][maxQuantityPerUser]" class="form-control input-sm">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4" selected="selected">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8 pad-t">
                                        <div class="form-element form-element-small-errors unpad-b">
                                            <label>
                                                <span>Descripción</span>
                                                <textarea class="form-control" maxlength="255" rows="2" placeholder="Añade información adicional sobre este tipo de entrada. Ejm: se pedirá DNI en la puerta." name="ticketTypes[0][description]"></textarea>
                                            </label>
                                        </div>
                                    </div><div class="col-xs-12 col-sm-4 pad-t"><br><div class="form-element form-element-small-errors unpad-b"><label><span>Activado</span><input type="hidden" name="ticketTypes[0][enabled]" value="0"><input type="checkbox" name="ticketTypes[0][enabled]" class="ticket-type-enabled-field" title="Oculta este tipo de entrada según la disponibilidad o durante un periodo de tiempo determinado" data-toggle="tooltip" value="1" checked="checked"></label></div>
                                    </div><div class="col-xs-12 col-sm-4" style="display: none"><div class="form-element form-element-small-errors unpad-b"><label><span>¿Pago por internet?</span><input type="hidden" name="ticketTypes[0][payOnline]" value="0"><input type="checkbox" name="ticketTypes[0][payOnline]" class="ticket-type-payment-field" value="1"></label></div>
                                    </div><div class="col-xs-12 col-sm-8 pad-t date-time" style="position: relative;display: none;"><div class="form-element form-element-small-errors unpad-b"><label><span>Fecha de entrada personalizada</span><input type="text" class="form-control" maxlength="50" name="ticketTypes[0][dateStart]" placeholder="yyyy-mm-dd h:i:s" value=""></label></div>
                                    </div><div class="col-xs-12 col-sm-4 pad-t image-type" style="position: relative;display: none;"><div class="form-element form-element-small-errors unpad-b"><label><span>Image ticket type (105px x193px)</span><input type="file" class="form-control" name="ticketTypes[0][_image]" style="display: none;"></label></div>
                                    <div class="form-element form-element-small-errors unpad-b no-label"><input type="hidden" name="ticketTypes[0][image]" value="0"></div>
                                    <div class="loader"><img src="https://www.joinnus.com/inc/img/loader.gif"></div><div class="content-image"><a href="#" title="Eliminar imagen" class="close">X</a><img src="0"></div></div><div class="col-xs-12 pad-t"><button type="button" class="btn btn-default btn-xs" onclick="del_ticket(this);"><span class="glyphicon glyphicon-trash"></span> Eliminar entrada</button><div class="form-element form-element-small-errors unpad-b no-label"><input type="hidden" name="ticketTypes[0][deleteonsave]" class="del-on-save" value="0"></div>
                                    </div></div></div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
