<div class="container banner" style="font-family: 'Verdana'">
    <!-- Stepper -->

    
    <form [formGroup]="eventForm" (ngSubmit)="registerEvent(eventForm.value)">
        <div class="col-md-12">
            <aw-wizard>
                    <aw-wizard-step stepTitle="Evento">
                        <!--DETALLES EVENTOS-->
                        <!-- <div *ngIf="boolDetails" class="row"> -->
                        <div class="row">
                            <div class="box-shadow bg-gray-5 rnd">
                                <div class="box-title-event">
                                    <div class="box-number bg-primary rnd-l unrnd-b" style="position:absolute;">1</div>
                                    <div class="box-number-det bg-primary rnd-l unrnd-b" style="position:absolute">Detalles del Evento</div>
                                </div>
                                <div class="box-content boxStep">
                                    <div class="row pad-t ticketRow" style="margin-left:0px;margin-right:0px;">
            
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-element form-element-small-errors unpad-b">
                                                <label for="businessName"><span>Nombre del Evento*</span></label>
                                                <input type="text" formControlName="name" name="title" class="form-control" id="businessName" value="">
                                            </div>
                                            <div class="form-element form-element-small-errors unpad-b">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <label>
                                                            <span>Fecha de inicio del evento</span>
                                                        </label>
                                                        <div class="input-group form-group">
                                                            <p-calendar formControlName="startDate" dateFormat="dd/mm/yy"  [locale]="en" [showIcon]="true" showTime="true" hourFormat="12"></p-calendar>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>
                                                            <span>Fecha fin del evento</span>
                                                        </label>
                                                        <div class="input-group form-group">
                                                            <p-calendar formControlName="endDate" dateFormat="dd/mm/yy" [locale]="en" [showIcon]="true" [showIcon]="true" showTime="true" hourFormat="12"></p-calendar>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label for="currencyBank">
                                                            Elige una Categoria
                                                        </label>
                                                        <select formControlName="eventCategoryId" name="currencyBank" data-city-currency="1" class="form-control input-sm">
                                                            <option  [value]="init" disabled> -- Seleccione -- </option>
                                                            <option *ngFor="let category of model.listCategory" [value]="category.id">{{category.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
            
                                            </div>
                                            <div class="">
                                                <div class="row"> 
                                                    <div class="col-md-6">
                                                        <div style="max-width:3000px;">
                                                            <div class="form-element">
                                                                <label>Imagen del Banner *</label>
                                                                <div id="imageUrl" class="image-picker" style="height: 218px;">
                                                                    <div class="overlay">
                                                                        <img [src]="url" height="200">
                                                                    </div>
                                                                    <span class="btn btn-default upload-button">
                                                                        <span class="glyphicon glyphicon-plus">
                                                                            <span>Cargar</span>
                                                                            <input name="imageUrlFile" type="file" (change)="selectFile($event)" accept="file_extension|.jpg"/>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div style="max-width:3000px;">
                                                            <div class="form-element">
                                                                <label>Imagen del Lugar*</label>
                                                                <div id="imageUrl" class="image-picker" style="height: 218px;">
                                                                    <div class="overlay">
                                                                        <img [src]="url2" height="200">
                                                                    </div>
                                                                    <span class="btn btn-default upload-button">
                                                                        <span class="glyphicon glyphicon-plus">
                                                                            <span>Cargar</span>
                                                                            <input name="imageUrlFilePlace" type="file" (change)="selectFile2($event)" accept="file_extension|.jpg"/>
                                                                        </span>
                                                                    </span>
                                                                </div>
                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                            <div class="form-element form-element-small-errors unpad-b">
                                                <label for="businessName"><span>URL del Video*</span></label>
                                                <input type="text" formControlName="urlVideo" name=" video" class="form-control" id="businessName" value="">
                                            </div>
                                            <div class="form-element-information">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>
                                                            <span> Descripción del Evento *</span>
                                                        </label>
                                                        <textarea formControlName="description" name="information" class="form-control" rows="6"  maxlength="65535" placeholder="Escribe un párrafo corto pero potente que describa tu evento"></textarea>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>
                                                            <span>Información adicional</span>
                                                        </label>
                                                        <textarea formControlName="aditionalInformation" name="information" class="form-control" rows="6" maxlength="65535" placeholder="Dale a los usuarios más información: detalles del evento, panelistas, links relacionados, cronograma del evento, etc."></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
            
                                        <div class="clearfix"></div>
                                        <br/>
                                        <div class="col-sm-9"></div>
                                        <div class="col-sm-3 col-xs-3">
                                            <div class=" col-submit">
                                                <button type="button" name="submit" (click)="viewUbication()"  style="padding-top:15px;padding-bottom:15px;" class="btn btn-primary btn-block btn-lg" value="" awNextStep [disabled]="eventForm.controls['name' && 'startDate' && 'endDate' && 'urlVideo' && 'description' && 'aditionalInformation'].invalid">Siguiente
                                                    <i class="fa fa-angle-right"></i>  
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aw-wizard-step>
                    <aw-wizard-step stepTitle="Ubicación" >
                        <!--UBICACION-->
                        <!-- <div *ngIf="boolUbication" class="row"> -->
                        <div class="row">
                            <div class="box-shadow bg-gray-5 rnd">
                                <div class="box-title-event">
                                    <div class="box-number bg-primary rnd-l unrnd-b" style="position:absolute">2</div>
                                    <div class="box-number-det bg-primary rnd-l unrnd-b" style="position:absolute">Ubicación</div>
                                </div>
                                <div class="box-content boxStep">
                                    <div class="row pad-t ticketRow" style="margin-left:0px;margin-right:0px;">

                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-element form-element-small-errors unpad-b"> 
                                                <div class="row">
                                                    <div class="col-md-6"> 
                                                        <label>
                                                            <span>Ciudad *</span>
                                                        </label>
                                                        <select formControlName="cityId" name="city" data-city-currency="1" class="form-control input-sm">
                                                            <option *ngFor="let city of model.listCity" [value]="city.id">{{city.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-element form-element-small-errors unpad-b">
                                                <div class="row"> 
                                                    <div class="col-sm-12">
                                                        <label>
                                                            <span>Dirección *</span>
                                                        </label>
                                                        <input formControlName="adress" type="text" name="address" class="form-control" placeholder="Escribe la dirección donde será el evento.">
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="form-element form-element-small-errors unpad-b"> 
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="form-element form-element-small-errors unpad-b">
                                                            <label>
                                                                <span>Referencia</span>
                                                            </label>
                                                            <input formControlName="reference" class="form-control" maxlength="250" name="addressRef" placeholder="Ej. A 3 cuadras de la librería pública" type="text" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>

                                        <div class="col-sm-3 col-xs-3">
                                            <div class="col-submit">
                                                <button type="button" name="submit" (click)="viewCreateEvents()"  style="padding-top:15px;padding-bottom:15px;" class="btn btn-primary btn-block btn-lg" value="" awPreviousStep>
                                                    <i class="fa fa-angle-left"></i> Anterior
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-3 col-xs-3"> 
                                            <div class="col-submit">
                                                <button type="button" name="submit" (click)="viewTicket()"  style="padding-top:15px;padding-bottom:15px;" class="btn btn-primary btn-block btn-lg" value="" awNextStep [disabled]="eventForm.controls['reference' && 'adress'].invalid">Siguiente
                                                    <i class="fa fa-angle-right"></i>  
                                                </button>
                                            </div>
                                        </div>                               
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aw-wizard-step>
                    <aw-wizard-step stepTitle="Entradas">
                        <!--CREACION ENTRADAS-->
                        <!-- <div *ngIf="boolTickets" class="row"> -->
                        <div class="row">
                            <div class="box-shadow bg-gray-5 rnd">
                                <div class="box-title-event">
                                    <div class="box-number bg-primary rnd-l unrnd-b" style="position:absolute">3</div>
                                    <div class="box-number-det bg-primary rnd-l unrnd-b" style="position:absolute">Crear Entradas</div>
                                </div>
                                <div class="box-content boxStep">
                                    <div class="row pad-t ticketRow" style="margin-left:0px;margin-right:0px;">
                                        <div class="col-xs-12 col-sm-12"> 
                                            <div class="col-xs-8 col-sm-4">
                                                <div class="form-element form-element-small-errors unpad-b no-label">
                                                    <label><span>Tipo de Moneda *</span></label>
                                                    <select formControlName="currencyType" name="currency" data-city-currency="1" class="form-control input-sm">
                                                        <option value="1">Soles</option>
                                                        <option value="2">Dólares</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-4 col-sm-4 col-sm-push-4 text-right">
                                                <label><span></span></label>
                                                <label><span></span></label>
                                                <button data-toggle="tooltip" id="addMoreTickets" title="Agrega más entradas, si tienes más de un precio, público o ubicación."
                                                type="button" class="btn btn-gray btn-sm btn-block has-tooltip" (click)="addTikects()">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                    Agregar entrada
                                                </button>
                                            </div>
                                        </div>
                                        <div *ngFor="let items of this.model.listTiket2" class="col-xs-12 col-sm-12">
                                            <div class="col-md-3">     
                                                <div class="form-element form-element-small-errors unpad-b no-label">
                                                    <label><span>Tipo Entrada *</span></label>
                                                    <input formControlName="nameTicket" type="text" name="businessName" class="form-control" id="businessName" value="">
                                                </div>       
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-element form-element-small-errors unpad-b no-label"> 
                                                    <label>
                                                        <span>Cantidad Disponible *</span>
                                                    </label>
                                                    <input formControlName="quantityAvailable" class="form-control text-center has-tooltip quantity-max" maxlength="5" placeholder="0" title="Número total de entradas para este tipo de entrada." data-toggle="tooltip" data-placement="left" name="ticketTypes[0][quantityMax]" type="text" value="0">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-element form-element-small-errors unpad-b no-label">
                                                    <label>
                                                        <span>Precio *</span>
                                                    </label>
                                                    <input formControlName="price" class="form-control text-right input-price" maxlength="7" placeholder="0.00" name="ticketTypes[0][price]" type="text" value="0.00">
                                                </div>                                  
                                            </div>
                                            <div class="col-xs-2 col-sm-1">
                                                <div class="form-element form-element-small-errors unpad-b no-label">
                                                    <label><span></span></label>
                                                    <label><span></span></label>
                                                    <button type="button" class="btn btn-gainsboro btn-block unpad-l unpad-r" >
                                                        <span class="caret"></span>
                                                    </button>
                                                </div>
                                                
                                            </div>
                                            <div class="col-xs-2 col-sm-1">
                                                <div class="form-element form-element-small-errors unpad-b no-label">
                                                    <label><span></span></label>
                                                    <label><span></span></label>
                                                    <button type="button" (click)="deleteTickets()" class="btn btn-gainsboro btn-block unpad-l unpad-r" >
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </div>
                                                
                                            </div>
                                        </div>   
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="col-sm-3 col-xs-3">
                                                <div class=" col-submit">
                                                    <button type="button" name="submit" (click)="viewUbication()"  style="padding-top:15px;padding-bottom:15px;" class="btn btn-primary btn-block btn-lg" value="" awPreviousStep>
                                                        <i class="fa fa-angle-left"></i> Anterior
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-6"></div>
                                            <div class="col-sm-3 col-xs-3">
                                                <div class="col-submit">
                                                    <button type="button" name="submit" (click)="viewBillingInformation()"  style="padding-top:15px;padding-bottom:15px;" class="btn btn-primary btn-block btn-lg" value="" awNextStep [disabled]="eventForm.controls['price' && 'quantityAvailable' && 'nameTicket'].invalid">Siguiente
                                                        <i class="fa fa-angle-right"></i>  
                                                    </button>
                                                </div>
                                            </div>  
                                        </div>
                                                            
                                    </div>
                                    
                                    <!-- <div class="row">
                                        <div class="col-xs-12" id="ticketRowsContainer">
                                            <input type="hidden" class="valChange" value="0">
                                            <div class="row bor bor-gray-15 pad-t ticketRow" style="margin-left:0px;margin-right:0px;">
                                                <div class="col-xs-12 col-sm-5">
                                                    <div class="form-element form-element-small-errors unpad-b">
                                                    <label>
                                                        <label for="businessName">Tipo Entrada *</label>
                                                        <input type="text" name="businessName" class="form-control" id="businessName" value="">
                                                    </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-element form-element-small-errors unpad-b">
                                                        <label>
                                                            <span>Cantidad Disponible</span>
                                                            <input class="form-control text-center has-tooltip quantity-max" maxlength="5" placeholder="0" title="Número total de entradas para este tipo de entrada." data-toggle="tooltip" data-placement="left" name="ticketTypes[0][quantityMax]" type="text" value="0">
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-3 txtprice">
                                                    <div class="form-element form-element-small-errors unpad-b">
                                                        <label>
                                                            <span>Precio</span>
                                                            <input class="form-control text-right input-price" maxlength="7" placeholder="0.00" name="ticketTypes[0][price]" type="text" value="0.00">
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-1 text-right unpad-l pad-b"><br><button type="button" class="btn btn-gainsboro btn-block unpad-l unpad-r" ><span class="caret"></span></button></div>
                                                <div class="col-xs-12 moreinfo pad-t bg-gray-10 pad-b" style="display:none;">
                                                    <div class="row">
                                                    <div class="col-xs-12 col-sm-4">
                                                        <div class="form-element form-element-small-errors unpad-b">
                                                            <label>
                                                                <span>Min cantidad por orden</span>
                                                                <select name="ticketTypes[0][minQuantityPerOrder]" class="form-control input-sm has-tooltip" title="Con esta opción podrás generar ofertas por la compra mínima de un número determinado de entradas." data-toggle="tooltip">
                                                                    <option value="1" selected="selected">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 selectMaxOrden">
                                                        <div class="form-element form-element-small-errors unpad-b">
                                                            <label>
                                                                <span>Max cantidad por orden</span>
                                                                <select name="ticketTypes[0][maxQuantityPerOrder]" class="form-control input-sm has-tooltip" title="Cada usuario puede comprar máximo esta cantidad de entradas" data-toggle="tooltip">
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10" selected="selected">10</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 selectMaxUser">
                                                        <div class="form-element form-element-small-errors unpad-b">
                                                            <label><span>Max cant. por usuario</span>
                                                                <select name="ticketTypes[0][maxQuantityPerUser]" class="form-control input-sm">
                                                                    <option value="0">0</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4" selected="selected">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-8 pad-t">
                                                        <div class="form-element form-element-small-errors unpad-b">
                                                            <label>
                                                                <span>Descripción</span>
                                                                <textarea class="form-control" maxlength="255" rows="2" placeholder="Añade información adicional sobre este tipo de entrada. Ejm: se pedirá DNI en la puerta." name="ticketTypes[0][description]"></textarea>
                                                            </label>
                                                        </div>
                                                    </div><div class="col-xs-12 col-sm-4 pad-t"><br><div class="form-element form-element-small-errors unpad-b"><label><span>Activado</span><input type="hidden" name="ticketTypes[0][enabled]" value="0"><input type="checkbox" name="ticketTypes[0][enabled]" class="ticket-type-enabled-field" title="Oculta este tipo de entrada según la disponibilidad o durante un periodo de tiempo determinado" data-toggle="tooltip" value="1" checked="checked"></label></div>
                                                    </div><div class="col-xs-12 col-sm-4" style="display: none"><div class="form-element form-element-small-errors unpad-b"><label><span>¿Pago por internet?</span><input type="hidden" name="ticketTypes[0][payOnline]" value="0"><input type="checkbox" name="ticketTypes[0][payOnline]" class="ticket-type-payment-field" value="1"></label></div>
                                                    </div><div class="col-xs-12 col-sm-8 pad-t date-time" style="position: relative;display: none;"><div class="form-element form-element-small-errors unpad-b"><label><span>Fecha de entrada personalizada</span><input type="text" class="form-control" maxlength="50" name="ticketTypes[0][dateStart]" placeholder="yyyy-mm-dd h:i:s" value=""></label></div>
                                                    </div><div class="col-xs-12 col-sm-4 pad-t image-type" style="position: relative;display: none;"><div class="form-element form-element-small-errors unpad-b"><label><span>Image ticket type (105px x193px)</span><input type="file" class="form-control" name="ticketTypes[0][_image]" style="display: none;"></label></div>
                                                    <div class="form-element form-element-small-errors unpad-b no-label"><input type="hidden" name="ticketTypes[0][image]" value="0"></div>
                                                    <div class="loader"><img src="https://www.joinnus.com/inc/img/loader.gif"></div><div class="content-image"><a href="#" title="Eliminar imagen" class="close">X</a><img src="0"></div></div><div class="col-xs-12 pad-t"><button type="button" class="btn btn-default btn-xs" onclick="del_ticket(this);"><span class="glyphicon glyphicon-trash"></span> Eliminar entrada</button><div class="form-element form-element-small-errors unpad-b no-label"><input type="hidden" name="ticketTypes[0][deleteonsave]" class="del-on-save" value="0"></div>
                                                    </div></div></div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div> -->
                                
                                </div>
                            </div>
                
                        </div>
                    </aw-wizard-step>
                    <aw-wizard-step stepTitle="Facturación">
                        <!--DATOS DE FACTURACION-->
                        <!-- <div *ngIf="boolBillingInformation" class="row"> -->
                        <div class="row">
                            <div class="box-shadow bg-gray-5 rnd">
                                <div class="box-shadow bg-gray-5 rnd">
                                    <div class="box-title-event">
                                        <div class="box-number bg-primary rnd-l unrnd-b" style="position:absolute">4</div>
                                        <div class="box-number-det bg-primary rnd-l unrnd-b" style="position:absolute">Datos de Facturación y Pagos</div>
                                    </div>
                                    <div class="box-content boxStep">
                                        <div class="row pad-t ticketRow" style="margin-left:0px;margin-right:0px;">
                                            <div class="col-xs-12 col-sm-12">
                                            </div>
                                            <div>
                                                <div class="col-xs-6 col-sm-6">
                                                    <div class="form-element form-element-small-errors unpad-b">
                                                        <label for="rucDni">RUC o DNI</label>
                                                        <input type="text" formControlName="document" name="rucDni" class="form-control" id="rucDni" value="">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6">
                                                    <div class="form-element form-element-small-errors unpad-b">
                                                        <label for="businessName">Razón Social</label>
                                                        <input type="text" formControlName="socialReason" name="businessName" class="form-control" id="businessName" value="">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div>
                                                <div class="col-md-6">
                                                    <div class="form-element form-element-small-errors unpad-b">
                                                        <label for="accountNumber">Número de Cuenta</label>
                                                        <input type="text" formControlName="bankNumber" name="accountNumber" class="form-control" id="accountNumber" maxlength="20" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-element form-element-small-errors unpad-b">
                                                        <label for="bankName">Banco</label>
                                                        <input type="text" formControlName="bank" name="bankName" class="form-control" id="bankName" value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-element form-element-small-errors unpad-b"><label for="currencyBank">Moneda</label>
                                                        <select name="currencyBank" formControlName="bankCurrencyTipe" data-city-currency="1" class="form-control" id="currencyBank">
                                                            <option value="1">Soles</option>
                                                            <option value="2">Dólares</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12">
                                                <h3>Datos de Contacto</h3>
                                                <hr style="border-top: 1px solid #D9D9D9;">
                                            </div>
                                            <div>
                                                <div class="col-xs-4 col-sm-4">
                                                    <div class="form-element form-element-small-errors unpad-b">
                                                        <label for="contactPerson">Persona de contacto</label>
                                                        <input type="text" formControlName="personalContact" name="contactPerson" class="form-control" id="contactPerson" value="">
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-sm-4">
                                                    <div class="form-element form-element-small-errors unpad-b">
                                                        <label for="contactPhone">Telefono Contacto</label>
                                                        <input type="text" formControlName="phoneContact" name="contactPhone" class="form-control" id="contactPhone" value="">
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-sm-4">
                                                    <div class="form-element form-element-small-errors unpad-b">
                                                        <label for="contactEmail">Correo Contacto</label>
                                                        <input type="text" formControlName="emailContact" name="contactEmail" class="form-control" id="contactEmail" value="">
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                
                                            </div>
                                            <br/>
                                            <div>
                                                <div class="col-sm-3 col-xs-3">
                                                    <div class=" col-submit">
                                                        <button type="button" name="submit" (click)="viewTicket()"  style="padding-top:15px;padding-bottom:15px;" class="btn btn-primary btn-block btn-lg" value="" awPreviousStep>
                                                            <i class="fa fa-angle-left"></i> Anterior
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-xs-6"></div>
                                                <div class="col-sm-3 col-xs-3">
                                                    <div class="col-submit">
                                                        <button type="button" name="submit" (click)="validateCreateEvent()"  style="padding-top:15px;padding-bottom:15px;" class="btn btn-primary btn-block btn-lg" 
                                                        value="" awNextStep [disabled]="eventForm.controls['document' && 'socialReason' && 'contactEmail' && 'bankNumber' && 'bank' && 'personalContact' && 'phoneContact'].invalid">Siguiente
                                                            <i class="fa fa-angle-right"></i>  
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aw-wizard-step>
                    <aw-wizard-step stepTitle="Confirmación">
                        <!--ENVIAR EVENTO-->
                        <!-- <div *ngIf="boolSendEvent" class="row"> -->
                        <div class="row">
                            <div class="box-shadow bg-gray-5 rnd">
                                <div class="box-title-event">
                                    <div class="box-number bg-primary rnd-l unrnd-b" style="position:absolute">5</div>
                                    <div class="box-number-det bg-primary rnd-l unrnd-b" style="position:absolute">Envio de Evento</div>
                                </div>
                                <div class="box-content boxStep">
                                    <div class="row pad-t ticketRow" style="margin-left:0px;margin-right:0px;">
                                        <div class="col-xs-12">
                                            <div class="box-shadow bg-gray-5 rnd ">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12"> 
                                                        <div class="form-element no-label">
                                                            <input type="hidden" name="acceptTerms" value="0">
                                                            <input type="checkbox" name="acceptTerms" required="required" value="1">
                                                            <label class="term"> He leído y acepto los<a><b> Términos y Condiciones</b></a></label>
                                                        </div>
                                                    
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12"> 
                                                        <div class="form-element no-label">
                                                            <input type="hidden" name="acceptTerms" value="0">
                                                            <input type="checkbox" name="acceptTerms" required="required" value="1">
                                                            <label class="term"> ¿Usted ha leído y acepta los términos y condiciones para el tratamiento de sus datos personales contenidos en la<a>
                                                                <b> Política de Privacidad Web?</b></a></label>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12"> 
                                                        <div class="form-element no-label">
                                                            <input type="hidden" name="acceptTerms" value="0">
                                                            <input type="checkbox" name="acceptTerms" required="required" value="1">
                                                            <label class="term">He leído y acepto los términos y condiciones para publicar mi evento. Además, certifico la veracidad de la información ingresada y asumo la absoluta responsabilidad por el evento.</label>
                                                        </div>
                                                        
                                                    </div>
                                                    
                                                    
                                                    <input type="hidden" name="sec25cd514802f6dbd0672daf57eb080eb0" value="30fccdc2be989413284d4d1c062e25b3-82b9d413827cbc78d9753c18b8c742e9">
                                                    <br/>
                                                    <div class="col-xs-12 col-sm-8 text-center pad-lg f-bold" style="padding:10px 50px;line-height:13px;">
                                                        ¡Después de crear tu evento podrás invitar a tus amigos y compartirla en tus redes sociales!
                                                    </div>
                                                    <br/>
                                                    <div class="col-sm-3 col-xs-3">
                                                        <div class=" col-submit">
                                                            <button type="button" name="submit" (click)="viewBillingInformation()"  style="padding-top:15px;padding-bottom:15px;" class="btn btn-primary btn-block btn-lg" value="" awPreviousStep>
                                                                <i class="fa fa-angle-left"></i> Anterior
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-6"></div>
                                                    <div class="col-sm-3 col-xs-3">
                                                        <div class="col-submit">
                                                            <button type="submit" name="submit" title="Si todos los datos fueron llenados correctamente publica tu evento ya!" data-toggle="tooltip" style="padding-top:15px;padding-bottom:15px;" class="btn btn-primary btn-block btn-lg" id="validationFecha" value="">Publicar evento
                                                                <i class="fa fa-check"></i>  
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-xs-12 col-sm-4 col-submit">
                                                        <button type="submit" name="submit" title="Si todos los datos fueron llenados correctamente publica tu evento ya!" data-toggle="tooltip" style="padding-top:15px;padding-bottom:15px;" class="btn btn-primary btn-block btn-lg" id="validationFecha" value="">Publicar evento
                                                        </button>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </aw-wizard-step>
            </aw-wizard>
               
        </div>
    </form>
</div>
